Alle benötigten Bibliotheken werden geladen.

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

Parquet file wird geladen und die ersten paar Zeilen angezeigt.
Link für Syntax: https://www.nyc.gov/assets/tlc/downloads/pdf/data_dictionary_trip_records_yellow.pdf

In [2]:
data01 = pd.read_parquet('yellow_tripdata_2022-12.parquet')
data01.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2022-12-01 00:37:35,2022-12-01 00:47:35,1.0,2.00,1.0,N,170,237,1,8.5,3.00,0.5,3.10,0.0,0.3,15.40,2.5,0.00
1,1,2022-12-01 00:34:35,2022-12-01 00:55:21,0.0,8.40,1.0,N,138,141,2,26.0,4.25,0.5,0.00,0.0,0.3,31.05,2.5,1.25
2,1,2022-12-01 00:33:26,2022-12-01 00:37:34,1.0,0.80,1.0,N,140,140,1,5.0,3.00,0.5,1.76,0.0,0.3,10.56,2.5,0.00
3,1,2022-12-01 00:45:51,2022-12-01 00:53:16,1.0,3.00,1.0,N,141,79,3,10.0,3.00,0.5,0.00,0.0,0.3,13.80,2.5,0.00
4,2,2022-12-01 00:49:49,2022-12-01 00:54:13,1.0,0.76,1.0,N,261,231,1,5.0,0.50,0.5,1.76,0.0,0.3,10.56,2.5,0.00

In [3]:
# get information about the loaded data
data01.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3399549 entries, 0 to 3399548
Data columns (total 19 columns):
 #   Column                 Dtype
---  ------                 -----
 0   VendorID               int64
 1   tpep_pickup_datetime   datetime64[ns]
 2   tpep_dropoff_datetime  datetime64[ns]
 3   passenger_count        float64
 4   trip_distance          float64
 5   RatecodeID             float64
 6   store_and_fwd_flag     object
 7   PULocationID           int64
 8   DOLocationID           int64
 9   payment_type           int64
 10  fare_amount            float64
 11  extra                  float64
 12  mta_tax                float64
 13  tip_amount             float64
 14  tolls_amount           float64
 15  improvement_surcharge  float64
 16  total_amount           float64
 17  congestion_surcharge   float64
 18  airport_fee            float64
dtypes: datetime64[ns](2), float64(12), int64(4), object(1)
memory usage: 492.8+ MB

Bereinigen der Daten

In [4]:
# Entfernen von Duplikaten
data02 = data01.drop_duplicates()

In [5]:
#Spalte store_and_fwd_flag entfernen
data03 = data02.drop('store_and_fwd_flag', axis=1,)

In [6]:
# Entfernen von NaN
data04 = data03.dropna()

In [7]:
# Überprüfen ob VendorId nur 1 oder 2 enthält rest löschen
data05 = data04[data04['VendorID'].isin([1, 2])]

In [16]:
# Überprüfen ob tpep_pickup_datetime nur 2022-12 enthält rest löschen

# Stellen Sie sicher, dass 'tpep_pickup_datetime' und 'tpep_dropoff_datetime' im datetime Format ist
data05['tpep_pickup_datetime'] = pd.to_datetime(data05['tpep_pickup_datetime'])


# Definieren Sie den Start- und Endzeitpunkt
start_date = '2022-12-01 00:00:00'
end_date = '2022-12-31 23:59:59'

# Filtern Sie die Daten
data06 = data05[data05['tpep_pickup_datetime'].between(start_date, end_date)]
data06

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2022-12-01 00:37:35,2022-12-01 00:47:35,1.0,2.00,1.0,170,237,1,8.5,3.00,0.5,3.10,0.0,0.3,15.40,2.5,0.00
1,1,2022-12-01 00:34:35,2022-12-01 00:55:21,0.0,8.40,1.0,138,141,2,26.0,4.25,0.5,0.00,0.0,0.3,31.05,2.5,1.25
2,1,2022-12-01 00:33:26,2022-12-01 00:37:34,1.0,0.80,1.0,140,140,1,5.0,3.00,0.5,1.76,0.0,0.3,10.56,2.5,0.00
3,1,2022-12-01 00:45:51,2022-12-01 00:53:16,1.0,3.00,1.0,141,79,3,10.0,3.00,0.5,0.00,0.0,0.3,13.80,2.5,0.00
4,2,2022-12-01 00:49:49,2022-12-01 00:54:13,1.0,0.76,1.0,261,231,1,5.0,0.50,0.5,1.76,0.0,0.3,10.56,2.5,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3273081,2,2022-12-31 23:36:15,2022-12-31 23:52:36,1.0,4.02,1.0,233,7,1,19.8,1.00,0.5,4.96,0.0,1.0,29.76,2.5,0.00
3273082,2,2022-12-31 23:09:34,2022-12-31 23:17:46,1.0,1.12,1.0,161,142,1,8.6,1.00,0.5,0.00,0.0,1.0,13.60,2.5,0.00
3273083,2,2022-12-31 23:39:06,2022-12-31 23:51:55,1.0,1.81,1.0,161,141,1,12.8,1.00,0.5,4.45,0.0,1.0,22.25,2.5,0.00
3273084,2,2022-12-31 23:09:37,2022-12-31 23:23:07,1.0,2.35,1.0,229,142,2,14.9,1.00,0.5,0.00,0.0,1.0,19.90,2.5,0.00
3273085,2,2022-12-31 23:34:24,2022-12-31 23:40:52,1.0,1.06,1.0,236,263,1,8.6,1.00,0.5,3.00,0.0,1.0,16.60,2.5,0.00

In [10]:
# Überprüfen ob tpep_pickup_datetime nur 2022-12 enthält rest löschen
# Definieren Sie den Start- und Endzeitpunkt

data05['tpep_dropoff_datetime'] = pd.to_datetime(data05['tpep_dropoff_datetime'])

start_date = '2022-12-01 00:00:00'
end_date = '2023-01-01 23:59:59'

# Filtern Sie die Daten
data07 = data06[data06['tpep_dropoff_datetime'].between(start_date, end_date)]

# Überprüfen Sie das Ergebnis
data07.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3273040 entries, 0 to 3273085
Data columns (total 20 columns):
 #   Column                 Dtype
---  ------                 -----
 0   VendorID               int64
 1   tpep_pickup_datetime   datetime64[ns]
 2   tpep_dropoff_datetime  datetime64[ns]
 3   passenger_count        float64
 4   trip_distance          float64
 5   RatecodeID             float64
 6   PULocationID           int64
 7   DOLocationID           int64
 8   payment_type           int64
 9   fare_amount            float64
 10  extra                  float64
 11  mta_tax                float64
 12  tip_amount             float64
 13  tolls_amount           float64
 14  improvement_surcharge  float64
 15  total_amount           float64
 16  congestion_surcharge   float64
 17  airport_fee            float64
 18  pickup_date            object
 19  pickup_time            object
dtypes: datetime64[ns](2), float64(12), int64(4), object(2)
memory usage: 524.4+ MB

In [11]:
# Filtern Sie die Daten, so dass 'tpep_pickup_datetime' immer vor 'tpep_dropoff_datetime' liegt
data08 = data07[data07['tpep_pickup_datetime'] < data07['tpep_dropoff_datetime']]

# Überprüfen Sie das Ergebnis
data08.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3271529 entries, 0 to 3273085
Data columns (total 20 columns):
 #   Column                 Dtype
---  ------                 -----
 0   VendorID               int64
 1   tpep_pickup_datetime   datetime64[ns]
 2   tpep_dropoff_datetime  datetime64[ns]
 3   passenger_count        float64
 4   trip_distance          float64
 5   RatecodeID             float64
 6   PULocationID           int64
 7   DOLocationID           int64
 8   payment_type           int64
 9   fare_amount            float64
 10  extra                  float64
 11  mta_tax                float64
 12  tip_amount             float64
 13  tolls_amount           float64
 14  improvement_surcharge  float64
 15  total_amount           float64
 16  congestion_surcharge   float64
 17  airport_fee            float64
 18  pickup_date            object
 19  pickup_time            object
dtypes: datetime64[ns](2), float64(12), int64(4), object(2)
memory usage: 524.2+ MB

Pasenger Count (Spalte 4) wird erst für die Berechnung des Tips per Person bereinigt

In [12]:
# Stellen Sie sicher, dass 'trip_distance' ein Float ist
data09['trip_distance'] = data08['trip_distance'].astype(float)

# Filtern Sie die Daten, so dass 'trip_distance' größer als 0 und kleiner als 500 ist
data10 = data09[(data09['trip_distance'] > 0) & (data09['trip_distance'] < 500)]

# Überprüfen Sie das Ergebnis
data10.info()

NameError: name 'data09' is not defined

In [ ]:
# Finden Sie den Index des maximalen Werts in 'trip_distance'
max_value_index = data10['trip_distance'].idxmax()

# Zeigen Sie die Zeile mit dem maximalen Wert in 'trip_distance' an
max_value_row = data10.loc[max_value_index]

print("Die Zeile mit dem maximalen Wert in 'trip_distance' ist:")
print(max_value_row)

Die Zeile mit dem maximalen Wert in 'trip_distance' ist:
VendorID                                   1
tpep_pickup_datetime     2022-12-24 10:22:25
tpep_dropoff_datetime    2022-12-24 11:17:37
passenger_count                          1.0
trip_distance                           99.6
RatecodeID                               1.0
PULocationID                             138
DOLocationID                             265
payment_type                               1
fare_amount                            353.0
extra                                    0.0
mta_tax                                  0.5
tip_amount                               0.0
tolls_amount                             0.0
improvement_surcharge                    1.0
total_amount                           354.5
congestion_surcharge                     0.0
airport_fee                              0.0
Name: 2661849, dtype: object

In [ ]:
# Berechnen Sie die Dauer zwischen 'tpep_pickup_datetime' und 'tpep_dropoff_datetime'
data10['Duration'] = data10['tpep_dropoff_datetime'] - data10['tpep_pickup_datetime']

# Definieren Sie die Reihenfolge der Spalten
cols = data10.columns.tolist()
cols.insert(cols.index('tpep_dropoff_datetime') + 1, cols.pop(cols.index('Duration')))

# Ordnen Sie die Spalten neu an
data10 = data10[cols]

# Überprüfen Sie das Ergebnis
data10.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3223659 entries, 0 to 3273085
Data columns (total 19 columns):
 #   Column                 Dtype
---  ------                 -----
 0   VendorID               int64
 1   tpep_pickup_datetime   datetime64[ns]
 2   tpep_dropoff_datetime  datetime64[ns]
 3   Duration               timedelta64[ns]
 4   passenger_count        float64
 5   trip_distance          float64
 6   RatecodeID             float64
 7   PULocationID           int64
 8   DOLocationID           int64
 9   payment_type           int64
 10  fare_amount            float64
 11  extra                  float64
 12  mta_tax                float64
 13  tip_amount             float64
 14  tolls_amount           float64
 15  improvement_surcharge  float64
 16  total_amount           float64
 17  congestion_surcharge   float64
 18  airport_fee            float64
dtypes: datetime64[ns](2), float64(12), int64(4), timedelta64[ns](1)
memory usage: 491.9 MB

In [ ]:
# Filter the data so that 'Duration' is greater than or equal to 1 minute and less than or equal to 3 hours
data11 = data10[(data10['Duration'] >= pd.Timedelta(minutes=1)) & (data10['Duration'] <= pd.Timedelta(hours=10))]

# Drop the rows where 'Duration' is greater than 3 hours or less than 1 minute
data12 = data11.drop(data11[(data11['Duration'] > pd.Timedelta(hours=3)) | (data11['Duration'] < pd.Timedelta(minutes=1))].index)

# Check the result
data12.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3204517 entries, 0 to 3273085
Data columns (total 19 columns):
 #   Column                 Dtype
---  ------                 -----
 0   VendorID               int64
 1   tpep_pickup_datetime   datetime64[ns]
 2   tpep_dropoff_datetime  datetime64[ns]
 3   Duration               timedelta64[ns]
 4   passenger_count        float64
 5   trip_distance          float64
 6   RatecodeID             float64
 7   PULocationID           int64
 8   DOLocationID           int64
 9   payment_type           int64
 10  fare_amount            float64
 11  extra                  float64
 12  mta_tax                float64
 13  tip_amount             float64
 14  tolls_amount           float64
 15  improvement_surcharge  float64
 16  total_amount           float64
 17  congestion_surcharge   float64
 18  airport_fee            float64
dtypes: datetime64[ns](2), float64(12), int64(4), timedelta64[ns](1)
memory usage: 489.0 MB

In [ ]:
# Calculate average speed in distance per hour
data12['Average_Speed'] = data12['trip_distance'] / (data12['Duration'].dt.total_seconds() / 3600)

# Reorder columns
cols = data12.columns.tolist()
cols.insert(cols.index('Duration') + 1, cols.pop(cols.index('Average_Speed')))
data13 = data12[cols]

# Check the result
data13.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3204517 entries, 0 to 3273085
Data columns (total 20 columns):
 #   Column                 Dtype
---  ------                 -----
 0   VendorID               int64
 1   tpep_pickup_datetime   datetime64[ns]
 2   tpep_dropoff_datetime  datetime64[ns]
 3   Duration               timedelta64[ns]
 4   Average_Speed          float64
 5   passenger_count        float64
 6   trip_distance          float64
 7   RatecodeID             float64
 8   PULocationID           int64
 9   DOLocationID           int64
 10  payment_type           int64
 11  fare_amount            float64
 12  extra                  float64
 13  mta_tax                float64
 14  tip_amount             float64
 15  tolls_amount           float64
 16  improvement_surcharge  float64
 17  total_amount           float64
 18  congestion_surcharge   float64
 19  airport_fee            float64
dtypes: datetime64[ns](2), float64(13), int64(4), timedelta64[ns](1)
memory usage: 513.4 MB

In [ ]:
# Filtern Sie die Daten, so dass 'Average_Speed' größer als 1 und kleiner als 100 ist
data14 = data13[(data13['Average_Speed'] > 3.00) & (data13['Average_Speed'] < 100.00)]

# Überprüfen Sie das Ergebnis
data14.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3139319 entries, 0 to 3273085
Data columns (total 20 columns):
 #   Column                 Dtype
---  ------                 -----
 0   VendorID               int64
 1   tpep_pickup_datetime   datetime64[ns]
 2   tpep_dropoff_datetime  datetime64[ns]
 3   Duration               timedelta64[ns]
 4   Average_Speed          float64
 5   passenger_count        float64
 6   trip_distance          float64
 7   RatecodeID             float64
 8   PULocationID           int64
 9   DOLocationID           int64
 10  payment_type           int64
 11  fare_amount            float64
 12  extra                  float64
 13  mta_tax                float64
 14  tip_amount             float64
 15  tolls_amount           float64
 16  improvement_surcharge  float64
 17  total_amount           float64
 18  congestion_surcharge   float64
 19  airport_fee            float64
dtypes: datetime64[ns](2), float64(13), int64(4), timedelta64[ns](1)
memory usage: 503.0 MB

In [ ]:

# Show the shortest duration
print("The ride with the shortest duration is:")
print(data14.loc[data14['Duration'].idxmax()])

The ride with the shortest duration is:
VendorID                                   2
tpep_pickup_datetime     2022-12-17 15:21:23
tpep_dropoff_datetime    2022-12-17 18:20:41
Duration                     0 days 02:59:18
Average_Speed                      13.067485
passenger_count                          3.0
trip_distance                          39.05
RatecodeID                               2.0
PULocationID                             162
DOLocationID                             100
payment_type                               2
fare_amount                             52.0
extra                                    0.0
mta_tax                                  0.5
tip_amount                               0.0
tolls_amount                            13.1
improvement_surcharge                    0.3
total_amount                            68.4
congestion_surcharge                     2.5
airport_fee                              0.0
Name: 1975884, dtype: object